In [2]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [3]:
median_salary_year = df['salary_year_avg'].median()

In [4]:
median_salary_hour = df['salary_hour_avg'].median()

In [5]:
df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [6]:
df_filled.loc[:10,'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [10]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

print('length of original df:', len(df_filled))
print('length of duplicate df:', len(df_unique))
print('rows dropped', len(df_filled)-len(df_unique))

length of original df: 785741
length of duplicate df: 785640
rows dropped 101

In [12]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])

print('length of original df:', len(df_filled))
print('length of duplicate df:', len(df_unique))
print('rows dropped', len(df_filled)-len(df_unique))

length of original df: 785741
length of duplicate df: 508042
rows dropped 277699